/TestAsm/nbproject/private/
/TestAsm/build/
/KiemTra/nbproject/private/
/KiemTra/build/
/Workshop2/nbproject/private/
/Workshop2/build/
/LearnFilter/nbproject/private/
/LearnFilter/build/
/DropDownListAndTakeItBack/nbproject/private/
/DropDownListAndTakeItBack/build/
/TestJavaMail/nbproject/private/
/TestJavaMail/build/
/TestSum/nbproject/private/
/TestSum/build/
