<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
   

    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>filter.HomeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckEndURL</filter-name>
        <filter-class>filter.CheckEndURL</filter-class>
    </filter>
    <filter>
        <filter-name>RemoveSesionOutTimetable</filter-name>
        <filter-class>filter.RemoveSesionOutTimetable</filter-class>
    </filter>
    <filter>
        <filter-name>CheckSessionIDForlectureAtt</filter-name>
        <filter-class>filter.CheckSessionIDForlectureAtt</filter-class>
    </filter>
    <filter>
        <filter-name>FeedBackStudent</filter-name>
        <filter-class>filter.FeedBackStudent</filter-class>
    </filter>
    <filter>
        <filter-name>RemoveSessionOutLectureTimetableByAdmin</filter-name>
        <filter-class>filter.RemoveSessionOutLectureTimetableByAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RemoveSessionOutLectureTimetableByAdmin</filter-name>
        <url-pattern>/timetablelecture</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FeedBackStudent</filter-name>
        <url-pattern>/student/feedback</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckSessionIDForlectureAtt</filter-name>
        <url-pattern>/lecture/attendance</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RemoveSesionOutTimetable</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckEndURL</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/lecture/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/student/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AttendanceStudentController</servlet-name>
        <servlet-class>controller.timetable.TimetableStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.home.HomeStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceLectureController</servlet-name>
        <servlet-class>controller.timetable.TimetableLectureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeLectureController</servlet-name>
        <servlet-class>controller.home.HomeLectureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureAttendance</servlet-name>
        <servlet-class>controller.attendance.LectureAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkStudentController</servlet-name>
        <servlet-class>controller.mark.MarkStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.authentication.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkLectureController</servlet-name>
        <servlet-class>controller.mark.MarkLectureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMarkByLecture</servlet-name>
        <servlet-class>controller.mark.UpdateMarkByLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMarkOfCourse</servlet-name>
        <servlet-class>controller.mark.UpdateMarkOfCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdmin</servlet-name>
        <servlet-class>controller.admin.HomeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingServlet</servlet-name>
        <servlet-class>controller.sendingemail.EmailSendingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentControlByAdmin</servlet-name>
        <servlet-class>controller.modelAdminControl.StudentControlByAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureControlByAdmin</servlet-name>
        <servlet-class>controller.modelAdminControl.LectureControlByAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassWordControl</servlet-name>
        <servlet-class>controller.admin.ChangePassWordControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticeChangePassWordServlet</servlet-name>
        <servlet-class>controller.admin.NoticeChangePassWordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGradeStudentByLecture</servlet-name>
        <servlet-class>controller.home.ViewGradeStudentByLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoCourse</servlet-name>
        <servlet-class>controller.student.infoCourse.InfoCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllStudentInClass</servlet-name>
        <servlet-class>controller.student.infoCourse.GetAllStudentInClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminControllerLecture</servlet-name>
        <servlet-class>controller.timetable.AdminControllerLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeTeacherSchedule</servlet-name>
        <servlet-class>controller.timetable.ChangeTeacherSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentInfomationController</servlet-name>
        <servlet-class>controller.personalinfo.StudentInfomationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAttendanceStudent</servlet-name>
        <servlet-class>controller.attendance.CheckAttendanceStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentFeedBack</servlet-name>
        <servlet-class>controller.feedback.StudentFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentUpdateFeedBack</servlet-name>
        <servlet-class>controller.feedback.StudentUpdateFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureSeeFeedBack</servlet-name>
        <servlet-class>controller.feedback.LectureSeeFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatController</servlet-name>
        <servlet-class>controller.chat.ChatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFeedBack</servlet-name>
        <servlet-class>controller.feedback.AdminFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeClass</servlet-name>
        <servlet-class>controller.studentChangeClass.ChangeClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeRequiredsController</servlet-name>
        <servlet-class>controller.studentChangeClass.SeeRequiredsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttendanceStudentController</servlet-name>
        <url-pattern>/student/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/student/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceLectureController</servlet-name>
        <url-pattern>/lecture/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeLectureController</servlet-name>
        <url-pattern>/lecture/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureAttendance</servlet-name>
        <url-pattern>/lecture/attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkStudentController</servlet-name>
        <url-pattern>/student/mark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkLectureController</servlet-name>
        <url-pattern>/lecture/mark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMarkByLecture</servlet-name>
        <url-pattern>/lecture/updatemark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMarkOfCourse</servlet-name>
        <url-pattern>/lecture/updatemarkofcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdmin</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSendingServlet</servlet-name>
        <url-pattern>/admin/emailsending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentControlByAdmin</servlet-name>
        <url-pattern>/admin/controlStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureControlByAdmin</servlet-name>
        <url-pattern>/admin/controlLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassWordControl</servlet-name>
        <url-pattern>/admin/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticeChangePassWordServlet</servlet-name>
        <url-pattern>/admin/noticechangepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGradeStudentByLecture</servlet-name>
        <url-pattern>/lecture/viewgrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoCourse</servlet-name>
        <url-pattern>/student/activitydetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllStudentInClass</servlet-name>
        <url-pattern>/student/class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminControllerLecture</servlet-name>
        <url-pattern>/admin/timetablelecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeTeacherSchedule</servlet-name>
        <url-pattern>/admin/changeschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInfomationController</servlet-name>
        <url-pattern>/student/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAttendanceStudent</servlet-name>
        <url-pattern>/student/checkabsent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentFeedBack</servlet-name>
        <url-pattern>/student/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentUpdateFeedBack</servlet-name>
        <url-pattern>/student/updatefeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureSeeFeedBack</servlet-name>
        <url-pattern>/lecture/seefeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatController</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFeedBack</servlet-name>
        <url-pattern>/admin/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeClass</servlet-name>
        <url-pattern>/student/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeRequiredsController</servlet-name>
        <url-pattern>/student/seerequired</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <display-name>EmailSendingWebApp</display-name>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>havancuong07122003@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>rnyo ovaw awmu ojxu</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>EmailForm.jsp</welcome-file>
    </welcome-file-list>
</web-app>
